/* Estilos para la información del producto */
#product-info-container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-top: 50px;
}

#product-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}


/* Estilos para los productos relacionados */
#related-products {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 30px;
}

#related-products li {
    width: calc(33.33% - 70px);
    margin-right: 10px;
    margin-bottom: 20px;
    text-align: center;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #fff;
}

#related-products h3 {
    margin-top: 0;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

  /* Estilo para comentarios */
#product-comments {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 20px;
  }
  
  #product-comments li {
    list-style: none;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding-left: 20px;
  }
  
  #comment-form {
    max-width: 600px;
  }
  
  #comment-form .form-group {
    margin-bottom: 10px;
  }
  

  #comment-form button {
    background-color: #007BFF; 
    color: #fff; 
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  #comment-form button:hover {
    background-color: #0056b3;
  }
  #pcom {
    font-family: 'Verdana', serif !important;
    font-size: 18px;
}
 


/* CSS personalizado para el carrusel */
#product-images.carousel {
  max-width: 600px; /* Define el ancho máximo del carrusel */
  max-height: 400px; /* Define la altura máxima del carrusel */
}

#product-images .carousel-inner {
  max-width: 100%; /* Hace que el contenido del carrusel se ajuste al ancho máximo del carrusel */
  max-height: 100%; /* Hace que el contenido del carrusel se ajuste a la altura máxima del carrusel */
}

#product-images .carousel-inner img {
  max-width: 100%; /* Hace que las imágenes dentro del carrusel se ajusten al ancho del carrusel */
  max-height: 100%; /* Hace que las imágenes dentro del carrusel se ajusten a la altura del carrusel */
}

/* Cambiar el color de las flechas del carrusel a negro cuando se hagan hover (opcional) */
.carousel-control-prev,
.carousel-control-next {
  background-color: rgba(0, 0, 0, 0.5);
}

.full-width-line {
  border: 0;
  height: 1px; /* Altura de la línea */
  background-color: #000; /* Color de la línea (en este caso, negro) */
  margin: 0; /* Margen cero para ajustar de borde a borde */
}
